* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(216, 189, 148);
}

.header {
    color: rgb(163, 126, 71);
}

.Brush {
    color: rgb(152, 118, 76);
}

.Frames {
    color: rgb(152, 118, 76);
}

.Paint {
    color: rgb(152, 118, 76);
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

strong {
    font-weight: bold;
    color: blue;
}