* {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(216, 189, 148);
}

.Header {
    color: rgb(163, 126, 71);
}

.Brush {
    color: rgb(152, 118, 76);
}

.Frames {
    color: rgb(153, 119, 77);
}

.Paint {
    color: rgb(154, 120, 78);
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

strong {
    font-weight: bold;
    color: rgb(179, 138, 35);
}